:root { 
  --black: #000000;
  --chicago: #5f5f5f;
  --delta: #a3a3a3;
  --eerie-black: #1f1f1f;
  --eerie-black-2: #1d1d1dab;
  --fuscous-gray: #515151;
  --gravel: #484848;
  --gray: #828282;
  --gunsmoke: #858585;
  --heavy-metal: #2b2b2b;
  --licorice: #121212;
  --masala: #3b3b3b;
  --mountain-mist: #979797;
  --onyx: #3a3a3a;
  --shark: #272727;
  --sonic-silver: #727272;
  --stack: #8f8f8f;
  --star-dust: #9b9b9b;
  --storm-dust: #636363;
  --storm-dust-2: #616161;
  --storm-dust-3: #646464;
  --tuna: #33384b;
  --tuna-2: #2f324080;
  --tundora: #464646;
  --white: #ffffff;
  --white-2: #ffffff99;
  --white-3: #ffffff80;
  --wild-sand: #f4f4f4;
  --woodsmoke: #0f0f0f;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xs: 13px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 36px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-13px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-36px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.montserrat-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.montserrat-semi-bold-white-13px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.montserrat-normal-storm-dust-14px {
  color: var(--storm-dust);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-storm-dust-24px {
  color: var(--storm-dust);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-light-white-14px {
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.montserrat-medium-white-40px {
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.montserrat-medium-gravel-13px {
  color: var(--gravel);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.montserrat-extra-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 200;
}

.montserrat-medium-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.montserrat-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-12px {
  color: var(--white-3);
  font-family: var(--font-family-montserrat);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-medium-white-28px {
  color: var(--white-3);
  font-family: var(--font-family-montserrat);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-normal-delta-16px {
  color: var(--delta);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-medium-black-36px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.montserrat-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.montserrat-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.montserrat-medium-mountain-mist-16px {
  color: var(--mountain-mist);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.border-1px-tuna {
  border: 1px solid var(--tuna);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}
