:root { 
  --black: #000000;
  --licorice: #121212;
  --white: #ffffff;
  --white-2: #ffffff80;
 
  --font-size-l: 14px;
  --font-size-m: 13px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 24px;
  --font-size-xxxxxl: 36px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-white-13px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-white-20px {
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-light-white-14px {
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}
