/* screen - iphone-11-pro-max-1 */

.iphone-11-pro-max-1 {
  background-color: var(--black);
  height: 553px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}

.iphone-11-pro-max-1 .header-l30kcQ {
  background-color: transparent;
  height: 71px;
  left: 69px;
  position: absolute;
  top: 183px;
  width: 279px;
}

.iphone-11-pro-max-1 .were-working-ha-best-experiene-bu8KzH {
  background-color: transparent;
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 275px;
}

.iphone-11-pro-max-1 .coming-soon-bu8KzH {
  background-color: transparent;
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.iphone-11-pro-max-1 .nav-bar-l30kcQ {
  background-color: transparent;
  height: 149px;
  left: 36px;
  position: absolute;
  top: -26px;
  width: 328px;
}

.iphone-11-pro-max-1 .logo-x0ah5W {
  background-color: transparent;
  height: 149px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 149px;
}

.iphone-11-pro-max-1 .burger-menu-x0ah5W {
  background-color: transparent;
  height: 8px;
  left: 310px;
  position: absolute;
  top: 70px;
  width: 18px;
}

.iphone-11-pro-max-1 .line-56-RhqGgo {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 18px;
}

.iphone-11-pro-max-1 .line-57-RhqGgo {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 18px;
}

.iphone-11-pro-max-1 .line-58-RhqGgo {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 18px;
}
/* screen - technology */

.technology {
  background-color: var(--black);
  height: 676px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.technology .header-ev0xBk {
  background-color: transparent;
  height: 79px;
  left: 356px;
  position: absolute;
  top: 259px;
  width: 732px;
}

.technology .were-working-ha-best-experiene-0VGcQV {
  background-color: transparent;
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 57px;
  width: auto;
}

.technology .coming-soon-0VGcQV {
  background-color: transparent;
  height: auto;
  left: 281px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.technology .header-6pTBOh {
  background-color: transparent;
  height: 148px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.technology .nav-bar-SsHeGN {
  background-color: transparent;
  height: 42px;
  left: 102px;
  mix-blend-mode: normal;
  position: relative;
  top: 67px;
  width: 1240px;
}

.technology .sign-up-3IhkuN {
  background-color: transparent;
  height: 42px;
  left: 1142px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.technology .sign-up-B0UPG4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 98px;
}

.technology .sign-up-0Tx3na {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.technology .login-3IhkuN {
  background-color: transparent;
  height: 42px;
  left: 1029px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.technology .login-uA4UfF {
  background-color: var(--heavy-metal);
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.technology .login-1yPQNJ {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.technology .about-3IhkuN {
  background-color: transparent;
  height: auto;
  left: 723px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.technology .services-3IhkuN {
  background-color: transparent;
  height: auto;
  left: 596px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.technology .technology-3IhkuN {
  background-color: transparent;
  height: auto;
  left: 438px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.technology .logo-3IhkuN {
  background-color: transparent;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 176px;
}
@media screen and (max-width: 1439px) {
  .screen.technology { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.iphone-11-pro-max-1 { 
    display: none;
   }
}